{% extends 'main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="vh-100  " style="margin-top: 6rem;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg text-white gradient-custom-2" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white mb-5">Veuillez entrer votre identifiant et votre mot de passe!</p>
  
                <form method="post">
                  {% if error %}
                    <div class="alert alert-danger">
                      {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                  {% endif %}
  
                  {% if app.user %}
                    <div class="mb-3">
                      You are logged in as {{ app.user.userIdentifier }},
                      <a class="text-white" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                  {% endif %}
  
                  <div class="form-outline form-white mb-3">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control form-control-lg" autocomplete="email" required autofocus placeholder="Email..">
                  </div>
  
                  <div class="form-outline form-white mb-3">
                    <input type="password" name="password" id="inputPassword"
                           class="form-control form-control-lg" autocomplete="current-password" placeholder="Mot de pass" required >
                  </div>
  
                  <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}">
  
                    <div class="form-check mb-3 d-flex align-items-center">
                    <input type="checkbox" name="_remember_me" class="form-check-input me-2" id="rememberMe">
                    <label class="form-check-label text-white" for="rememberMe">Se souvenir de moi</label>
                    </div>
                
                <p class="small mb-5 pb-lg-2">
                    <a class="text-white" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                </p>
                        
  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </form>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
