{% extends 'main.html.twig' %}

{% block body %}

<div class="header">
    <div class="header-text">
        <h1 class="text-center fw-bold display-1 mt-5 p-5 text-white">
            Vos <span class="text-warning">Choix</span>
        </h1>
    </div>
</div>

<div class="bg pb-3">
    <!-- Adding category cards -->
    <div class="container">
        <div class="row mt-5 pt-5 pb-3 align-items-center">
            <h1 class="fw-bold display-6">Categories description</h1>
        </div>
    </div>

    <div class="container menu-container">
        <div class="nav-bg-bar">
            <ul class="nav nav-tabs d-flex justify-content-between">
                {% for category, items in results %}
                    <li class="nav-item custom-items">
                        <a class="nav-link {% if loop.first %}active{% endif %}" href="#{{ category | lower }}" data-bs-toggle="tab">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content">
            {% for category, items in results %}
                <div class="container mt-5 tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ category | lower }}">
                    <div class="row">
                        {% if items|length > 0 %}
                            {% for item in items %}
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="card border-0 p-0">
                                        <div class="menu1-item">
                                            <img src="{{ asset('uploads/' ~ item.platPhoto) }}" class="card-img-categori" alt="{{ item.platName }}">
                                        </div>
                                        <div class="card-body">
                                            <h5>{{ item.platName }}</h5>
                                            <p class="text-muted">{{ item.categoryDescription }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center">Aucun plat trouvé pour cette catégorie.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
